@model todoApp.Models.toDo

@{
    ViewBag.Title = "Create";
}
<div class="content-wrapper">
    <h1><span class="label label-success">My ToDo List - Create</span></h1>
    <p class="padding"></p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset><legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.priorityTypeId, "PriorityType")
        
            @Html.DropDownList("priorityTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.priorityTypeId)
        </div>
        <div class="editor-label">
            @Html.Label("RemindMeDate (12/12/9999)")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.remindMeDate)
            @Html.ValidationMessageFor(model => model.remindMeDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.toDoDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.toDoDesc)
            @Html.ValidationMessageFor(model => model.toDoDesc)
        </div>

        <p class="padding">
            <input type="submit" value="Create" class="btn btn-sm btn-success"/>
        </p>
    </fieldset>
}

<div>
   @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-info" })
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
</div>