@model todoApp.Models.toDo

@{
    ViewBag.Title = "Delete";
}
<div class="content-wrapper">
<h1><span class="label label-danger">My ToDo List - Delete</span></h1>
    <p class="padding"></p>
<fieldset>
    <legend></legend>
    <div class="display-label">
         @Html.DisplayName("Priority"): @Html.DisplayFor(model => model.priorityType.PriorityType1)
    </div>
   

    <div class="display-label">
        @Html.DisplayFor(model => model.remindMeDate):
         @Html.DisplayNameFor(model => model.remindMeDate) 
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.toDoDesc): @Html.DisplayFor(model => model.toDoDesc)
    </div>
    
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p class="padding">
        <input type="submit"  value="Delete" class="btn btn-sm btn-danger"/> |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-info" })

    </p>
}
    </div>
<!-- set up the modal to start hidden and fade in and out -->


</script>