@model todoApp.Models.toDo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>toDo</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.priorityTypeId, "priorityType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("priorityTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.priorityTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.remindMeDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.remindMeDate)
            @Html.ValidationMessageFor(model => model.remindMeDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.toDoDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.toDoDesc)
            @Html.ValidationMessageFor(model => model.toDoDesc)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
